$default: #31352B;
$accent: #ff6838;
$title: #363853;
$white: #fff;
$tab-hover: #ff7a501a;
$tab-active: #ff683833;
$border: #ececec;
$black: #000;
$dot-hover: #FFF2ED;
$btn-bg: #ffae94;
$dot-bg: #c2c2c2;
$main-bg: #f9faff;
$btn-main-bg: #ff7a50;
$menu: #EEEFF3;

%rubik-300 {
  font-family: 'Rubik', sans-serif;
  font-weight: 300;
}

%rubik-400 {
  font-family: 'Rubik', sans-serif;
  font-weight: 400;
}

%rubik-italic {
  font-family: 'Rubik', sans-serif;
  font-style: italic;
  font-weight: 400;
}

%rubik-500 {
  font-family: 'Rubik', sans-serif;
  font-weight: 500;
}

%bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

%flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

%flexjustify {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

%pseudo {
  content: '';
  position: absolute;
  display: block;
}

%btn {
  background-color: $accent;
  color: $white;
  padding: 12px 32px;
  font-size: 18px;
  line-height: 1.3;
  letter-spacing: 0.54px;
}

%padding {
  padding: 25px 15px;
}

%section-bg {
  width: 100%;
  height: 100%;
  background: rgba($main-bg, 0.85);
  z-index: 0;
  opacity: 0;
}