.app {
  padding-bottom: 120px;

  @include mq('tablet-3') {
    padding-bottom: 70px;
  }

  @include mq('tablet') {
    padding-bottom: 40px;
  }

  &__inner {
    padding: 40px 0;
    background-repeat: no-repeat;
    background-size: 48.8%;
    background-position: right center;
    position: relative;

    @include mq('tablet-3') {
      background-size: 100%;
    }

    @include mq('phone-3') {
      background-size: 0;
      padding: 0;
    }

    &::before {
      @extend %pseudo;
      @extend %section-bg;
      inset: 0;

      @include mq('tablet-3') {
        opacity: 1;
      }
    }
  }

  &__content {
    max-width: 538px;
    position: relative;
    z-index: 3;
  }

  &__title {
    margin-bottom: 45px;
    text-align: left;

    @include mq('phone-2') {
      margin-bottom: 15px;
    }
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('phone-2') {
      font-size: 14px;
      margin-bottom: 15px;
    }
  }

  &__list {
    display: flex;
    gap: 30px;
  }
}