.burger-btn {
  padding: 12px 7px;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  height: 44px;

  @include mq('tablet') {
    display: flex;
  }

  &__line {
    width: 30px;
    height: 2px;
    display: block;
    background-color: $title;
  }
}