.menu {
  display: flex;
  gap: 0 45px;

  &__link {
    font-size: 18px;
    line-height: 1.2;

    &:active {
      text-shadow: 2px 2px 5px rgba($default, 0.5);
    }

    &--active {
      color: $accent;

      &:hover {
        @include mq('tablet-3') {
          color: $accent;
        }
      }
    }
  }
}