.explore {
  padding-bottom: 120px;

  @include mq('tablet-3') {
    padding-bottom: 70px;
  }

  @include mq('tablet') {
    padding-bottom: 40px;
    padding-top: 45px;
  }

  @include mq('phone-3') {
    padding-bottom: 85px;
  }

  &__title {
    margin-bottom: 60px;
    text-align: left;
    padding-right: 100px;

    @include mq('tablet') {
      margin-bottom: 30px;
    }

    @include mq('phone-3') {
      padding-right: 0;
    }
  }

  &__list {
    display: flex;
  }

  &__item {
    max-width: 220px;
    width: 100%;
    margin-right: 20px;
    padding: 1px 5px;

    @include mq('desktop') {
      max-width: 100%;
      margin-right: 0;
    }
  }

  .slick-list {
    padding: 1px;
  }

  .slick-arrow {
    position: absolute;
    right: 0;
    z-index: 2;
    top: -102px;
    width: 38px;
    height: 38px;
    @extend %flex;
    background-color: transparent;
    border-radius: 34px;
    border: 3px solid $dot-bg;
    background-color: rgba($white, 0.01);
    transition: border-color 0.5s ease, background-color 0.5s ease, box-shadow 0.5s ease;

    @include mq('tablet') {
      top: -68px;
    }

    .arrow use {
      transition: fill 0.5s ease;
    }

    &:focus {
      box-shadow: 0 0 0 2px rgba($accent, 0.70);
    }

    &:hover {
      background-color: $dot-hover;
      border-color: $btn-bg;

      @include mq('tablet-3') {
        background-color: rgba($white, 0.01);
        border-color: $dot-bg;
      }

      .arrow use {
        fill: $btn-bg;

        @include mq('tablet-3') {
          fill: $dot-bg;
        }
      }
    }

    &:active {
      border-color: $dot-hover;
      background-color: $dot-hover;
      box-shadow: none;

      .arrow use {
        fill: $btn-main-bg;
      }
    }

  }

  .slick-arrow.slick-disabled {
    border-color: $btn-main-bg;

    .arrow use {
      fill: $btn-main-bg;
    }
  }

  .arrow-prev {
    right: 60px;
  }

  .arrow-next {
    transform: scale(-1, 1);
  }

  .slick-dots {
    position: absolute;
    bottom: -45px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    gap: 15px;

    li {
      display: flex;
      align-items: center;
    }

    li button {
      width: 15px;
      height: 15px;
      background-color: $dot-bg;
      font-size: 0;
      border-radius: 15px;
      transition: box-shadow 0.5s ease, background-color 0.5s ease;

      &:focus {
        box-shadow: 0 0 0 2px $accent;
      }

      &:hover {
        background-color: $dot-hover;
        box-shadow: 0 0 0 2px rgba($accent, 0.70);

        @include mq('tablet-3') {
          background-color: $dot-bg;
          box-shadow: none;
        }
      }

      &:active {
        background-color: $btn-bg;
        box-shadow: none;
      }
    }

    .slick-active button {
      background-color: $accent;

      &:hover {
        background-color: $accent;
      }
    }
  }
}