.features {

  &__inner {
    max-width: 1030px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: 42%;
    background-position: left center;
    position: relative;

    @include mq('tablet-2') {
      background-size: 45%;
    }

    @include mq('phone-3') {
      background-size: 70%;
    }

    @include mq('phone') {
      background-size: 100%;
    }

    &::before {
      @extend %pseudo;
      @extend %section-bg;

      @include mq('tablet-2') {
        opacity: 1;
      }
    }
  }

  &__box {
    max-width: 470px;
    margin-left: auto;
    padding: 58px 0;
    position: relative;
    z-index: 3;

    @include mq('tablet-2') {
      padding: 0;
    }

    @include mq('tablet-2') {
      padding: 25px 0;
    }
  }

  &__title {
    text-align: left;
    margin-bottom: 30px;
  }

  &__text {
    opacity: 0.9;
    margin-bottom: 30px;
    @include line-clamp(4);

    @include mq('phone-2') {
      font-size: 16px;
    }
  }

  &__list {
    margin-bottom: 30px;

    @include mq('phone-2') {
      margin-bottom: 20px;
    }
  }

  &__item {
    font-size: 24px;
    color: $title;
    padding-left: 64px;
    @include line-clamp(1);
    position: relative;

    @include mq('phone-3') {
      font-size: 20px;
    }

    @include mq('phone-2') {
      font-size: 18px;
      padding: 4px 0 4px 61px;
    }

    &:not(:last-child) {
      margin-bottom: 20px;

      @include mq('phone-2') {
        margin-bottom: 15px;
      }
    }

    &::before {
      @extend %pseudo;
      top: 50%;
      transform: translateY(-50%);
      left: 0;
      width: 34px;
      height: 34px;
      @extend %bg;
    }

    &--watch::before {
      background-image: url('../images/icons/watch.svg');
    }

    &--delivery::before {
      background-image: url('../images/icons/delivery.svg');
    }

    &--shop::before {
      background-image: url('../images/icons/shop.svg');
    }
  }

  &__link {
    @extend %btn;
  }
}