<section class="top">
  <div class="container">
    <h2 class="sr-only">Навигация по сайту</h2>
    <ul class="breadcrumbs">
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link" href="index.html">Главная</a>
      </li>
      <li class="breadcrumbs__item @responsiveClass">
        <a class="breadcrumbs__link" href="catalog.html">Каталог товаров</a>
      </li>
      <li class="breadcrumbs__item">
        <a class="breadcrumbs__link @disabledClass" href="catalog.html">Чизбургер с листьями салата</a>
      </li>
    </ul>
  </div>
</section>