<section class="promotions">
  <div class="container">
    <h2 class="promotions__title title">
      Акции и скидки
    </h2>
    <ul class="promotions__list">
      <li class="promotions__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" src="images/restaurants/1.jpg" width="370" height="300" alt="Blaze Pizza">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Скидка 50% на вторую пиццу
            </h3>
          </div>
        </article>
      </li>
      <li class="promotions__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/5.jpg" alt="KFC">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Картошечка из KFC даром при заказе бургера
            </h3>
          </div>
        </article>
      </li>
      <li class="promotions__item">
        <article class="restaurant-card">
          <img class="restaurant-card__img" width="370" height="300" src="images/restaurants/6.jpg" alt="Star Burgers">
          <div class="restaurant-card__box">
            <h3 class="restaurant-card__title">
              Чёрные бургеры на чёрный день
            </h3>
          </div>
        </article>
      </li>
    </ul>
  </div>
</section>